/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font-size: 16px;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	padding: 72px 48px 84px;
	background: #FCFCE0;
	background-image: url(../img/stripe.png);
	color: #502222;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}
a {
	color:#FF7766;
	text-decoration: none;
}

.wrapper {
	margin:0 auto;
	position:relative;
}

h1 {
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#produce {
	width: 200px;
	float:right;
	text-align:right;
}
article {
	border: 1px solid #CCC;
	border-radius: 6px;
	padding: 15px;
	margin-bottom: 20px;
	background: #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F6F6F6));
	background: -moz-linear-gradient(top,  #FFFFFF,  #F6F6F6);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
article .evDate {
  font-size: 26px;
  margin-bottom: 5px;
}
article h2 {
	float:left;
	width: 700px;
	font-size: 36px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
article .evCount {
	float:right;
	width: 150px;
	font-size: 20px;
	text-align:right;
}
article .evCount .evAccepted {
  font-size: 36px;
}
article .evCatch {
  clear:both;
  width: 700px;
  font-size: 16px;
  margin-bottom: 10px;
}
article .evPlace {
  font-size: 16px;
}


#footer-container {
	clear:both;
}

#srch {
	clear:both;
	height: 46px;
	width: 490px;
	margin-bottom: 40px;
	margin-left:auto;
	margin-right:auto;
}
#srch #srchBox {
	float:left;
	width: 350px;
	text-align:right;
	margin-right: 5px;
}
#srch #srchBox #txtSrch {
	border:1px solid #999;
	padding: 6px;
	color: #666;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff);
	filter:progid:DXImageTransform.Microsoft.gradient (startColorstr=#ffeeeeee,endColorstr=#ffffffff); zoom: 1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px #DDD;
	-moz-box-shadow: 0 1px 0 #DDD;
	width: 320px;
}
#srch #srchBtn {
	float:left;
	width: 85px;
}
#srch #btnSrch {
	vertical-align: top;
	font-size: 17px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#f9ff42 0%,
		#664100);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f9ff42),
		to(#664100));
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #660000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
#srch #loading {
	display:none;
	float:left;
	background: url("/img/loading.gif") no-repeat center;
	width: 85px;
	height: 32px;
	margin-top: 5px;
}

#srch #srchDetail {
	float:left;
	width: 50px;
	margin-top: 2px;
}
#srch #srchDetail a {
  display:block;
  width :40px;
  height: 34px;
  padding-top: 9px;
  margin-left: 5px;
  text-align:center;
  color: #666;
}
#srch input {
  font-size: x-large;
}

#switch {
  height: 46px;
  margin-bottom: 20px;
}
#switch ul {
  width: 306px;
  margin: 0 auto;
}
#switch ul li {
	cursor: pointer;
	display:block;
	margin-right: 6px;
	width: 100px;
	float:left;
	text-align:center;
	padding: 4px;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#E4E4E4,
		#AAAAAA);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#E4E4E4),
		to(#AAAAAA));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);  
}
#switch ul li.select {
	background: -moz-linear-gradient(
		top,
		#b4a3a3,
		#110000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#b4a3a3),
		to(#110000));
}

#evs {
	clear: both;
}
